[is='flynt-grid-posts-latest'] {
  .grid {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: ($gutter-width * -1) 0 0 ($gutter-width * -1);

    &--columns2,
    &--columns3,
    &--columns4 {
      .grid-item {
        @media (min-width: $breakpoint-tablet) {
          width: 50%;
        }
      }
    }

    &--columns3 {
      .grid-item {
        @media (min-width: $breakpoint-tablet-horizontal) {
          width: 33.33%;
        }
      }
    }

    &--columns4 {
      .grid-item {
        /* ensure 2 columns stacking up until $breakpoint-desktop */
        max-width: ($breakpoint-desktop - $container-padding-tablet * 2 + $gutter-width) / 3 + 1;

        @media (min-width: $breakpoint-desktop) {
          width: 25%;
        }
      }
    }
  }

  .img__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;

    .img__description_layer {
      position: absolute;
      bottom: 0;
      left: 100%;
      right: 0;
      background: rgba(255, 255, 255, 0.6);
      display: flex;
      overflow: hidden;
      width: 0;
      height: 100%;
      transition: .5s ease;

      .hoverText {
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
      }
    }

    &:hover .img__description_layer {
      width: 60%;
      left: 0;
      margin: 0px 0px 0px auto;
    }

    &-image {
      background: $color-contrast;
      flex-shrink: 0; // IE11 bug fix (prevent image from stretchin')
    }

    &-inner {
      @include reset-content-margins;
      color: $color-text;
      flex-grow: 1;

      #{$heading-selectors} {
        color: $color-headline;
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-decoration: none;
    }

    &-readingTime {
      color: #000;
      font-size: 0.9rem;

      .feather {
        color: #000;
        height: 1rem;
        margin-right: 2px;
        width: 1rem;
      }
    }

    &-footer {
      align-items: center;
      align-self: flex-end;
      border-top: 1px solid $color-border;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      width: 100%;

      .img__wrap-readMore {
        padding: 0.9rem 0 1.1rem;

        &::before {
          bottom: 1.1rem;
        }
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        padding: 0 30px;
      }
    }
  }

  .allPostsLink {
    padding-top: 1.5rem;
    text-align: center;

    @media (min-width: $breakpoint-desktop) {
      padding-top: 3rem;
    }
  }
}