[is='flynt-grid-posts-archive'] {
  .posts {
    @include reset-list;
    position: relative;
    display: grid;
    grid-template-columns: 0.3fr 0.2fr 0.2fr 0.3fr;

    .post {
      // @media (min-width: $breakpoint-tablet) {
      //   @include grid(2);
      // }

      // @media (min-width: $breakpoint-tablet-horizontal) {
      //   @include grid(3);
      // }
      margin: 10px; //$gutter-width;
      overflow: hidden;
      border-style: solid;
      border-color: rgb(31, 194, 140);

      &-link {
        display: block;
        text-decoration: none;
      }

      .figure {
        background-color: $color-text;
        margin-bottom: 0;
      }

      &-inner {
        @include reset-content-margins;
        padding: $gutter-width 0;
      }

      &-excerpt {
        margin-bottom: 0.75rem;
      }
    }

    .post--1 {
      grid-column: 1 / 3; // Start with 1, end with 3
      grid-row: 1 / 3;
      height: 300px;
    }

    .post--2 {
      grid-column: 3 / 5;
      grid-row-start: 1 / 3;
      height: 300px;
    }

    .post--3 {
      grid-column: 1 / 5;
      grid-row: 3 / 5;
      height: 150px;
    }

    .post--4 {
      grid-column: 1 / 5;
      grid-row: 5 / 8;
      height: 300px;
    }

    .post--5 {
      grid-column: 1 / 4;
      grid-row: 8 / 10;
      height: 300px;
    }

    .post--6 {
      grid-column: 4 / 5;
      grid-row: 8 / 12;
      height: 470px;
    }

    .post--7 {
      grid-column: 1 / 2;
      grid-row: 10 / 16;
      height: 670px;
    }

    .post--8 {
      grid-column: 2 / 4;
      grid-row: 10 / 12;
      height: 150px;
    }

    .post--9 {
      grid-column: 2 / 5;
      grid-row: 12 / 16;
      height: 500px;
    }
  }

  .img__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

    .img__description_layer {
      position: absolute;
      display: flex;
      width: 0;
      height: 100%;
      right: 0;
      background: rgba(255, 255, 255, 0.6);
      transition: 1s;
      visibility: hidden;
      overflow: hidden;

      .hoverText {
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;

        .img__wrap-title,
        .img__wrap-excerpt {
          font-size: large;
        }
      }
    }

    &:hover>.img__description_layer {
      width: 60%;
      height: 100%;
      left: 60;
      margin: 0px 0px 0px auto;
      visibility: visible;
    }

    &-image {
      background: $color-contrast;
      flex-shrink: 0; // IE11 bug fix (prevent image from stretchin')
    }

    &-inner {
      @include reset-content-margins;
      color: $color-text;
      flex-grow: 1;

      #{$heading-selectors} {
        color: $color-headline;
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-decoration: none;
    }

    &-readingTime {
      color: #000;
      font-size: 0.9rem;

      .feather {
        color: #000;
        height: 1rem;
        margin-right: 2px;
        width: 1rem;
      }
    }

    &-footer {
      align-items: center;
      align-self: flex-end;
      border-top: 1px solid $color-border;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      width: 100%;

      .img__wrap-readMore {
        padding: 0.9rem 0 1.1rem;

        &::before {
          bottom: 1.1rem;
        }
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        padding: 0 30px;
      }
    }
  }

  .posts-empty {
    padding: 40px 0 0;
  }

  @import 'Partials/filter';
  @import 'Partials/paginationButtons';
}