[is='flynt-team-slider'] {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container {
        @media (max-width: $breakpoint-mobile-horizontal) {
            width: 100%;
        }

        .section-title {
            h2 {
                @media (max-width: $breakpoint-mobile-horizontal) {
                    font-size: xx-large;
                }

                @media (max-width: $breakpoint-tablet) {
                    font-size: large;
                }
            }

            .content {
                @media (max-width: $breakpoint-tablet) {
                    font-size: small;
                }
            }
        }
    }

    .swiper {
        width: 100%;
        height: auto;
        padding: 10vh 0;
        overflow: hidden;

        .swiper-wrapper {

            .even {
                @media (min-width: $breakpoint-tablet-horizontal) {
                    margin-top: 80px;
                    transition: 2s;
                }
            }

            .odd {
                @media (min-width: $breakpoint-tablet-horizontal) {
                    margin-bottom: 80px;
                    transition: 2s;
                }
            }

            &:hover .even {
                @media (min-width: $breakpoint-tablet-horizontal) {
                    margin-top: 0px;
                    margin-bottom: 80px;
                }
            }

            &:hover .odd {
                @media (min-width: $breakpoint-tablet-horizontal) {
                    margin-top: 80px;
                    margin-bottom: 0px;
                }
            }
        }

        .swiper-slide {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            background-color: $off-black;
            box-shadow: 0px 0px 15px $peach;
            height: 400px;

            @media (max-width: $breakpoint-tablet-horizontal) {
                height: 600px;
            }

            .author-wrap {
                width: 100%;
                height: 100%;
                padding: 35px 0px;
                display: flex;
                flex-direction: column;
                justify-content: start;

                // @media (max-width: $breakpoint-tablet-horizontal) {
                //     height: 70%;
                // }

                .author-image {
                    height: 70%;

                    @media (max-width: $breakpoint-mobile-horizontal) {
                        height: 75%;
                    }

                    .image {
                        display: block;
                        border-bottom-left-radius: 80px 80px;
                        position: relative;
                        min-height: 200px;
                        height: 100%;
                        top: 0px;
                        left: 0px;
                        z-index: 5;
                        transition: 1s;

                        img {
                            width: 100%;
                            height: 100%;
                            border-bottom-left-radius: 80px;
                        }
                    }

                    &:hover .image {
                        @media (min-width: $breakpoint-tablet-horizontal) {
                            position: relative;
                            top: 0px;
                            left: -40px;
                        }
                    }
                }

                .icons {
                    position: absolute;
                    top: 40px;
                    right: 10px;
                    color: gold;
                    display: flex;
                    flex-direction: column;
                    top: 555px;

                    .fab {
                        padding: 5px 0;

                        @media (max-width: $breakpoint-mobile-horizontal) {
                            padding: 0px 5px 0px 0px;
                        }
                    }

                    @media (max-width: $breakpoint-mobile-horizontal) {
                        flex-direction: row;
                        top: 555px;
                        left: 10px;
                        z-index: 20;
                        bottom: 90%;
                    }
                }


                .info {
                    display: block;
                    color: $citrus;
                    padding: 0px 10px;
                    padding-top: 20px;

                    .name {
                        font-weight: bold;
                        color: $citrus;
                        padding-right: 5px;
                        margin-bottom: 0;
                        font-size: large;
                    }

                    .job {
                        color: $citrus;
                    }
                }
            }


        }

        .swiper-navigation {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            height: auto;
            padding: 40px 20px;

            .s-pagination {
                display: inline-flex;
                flex-direction: row;
                justify-content: center;

                width: auto;
                height: auto;
                padding: 0 20px;

                .swiper-pagination-bullet {
                    background-color: $color-green;
                    border: 1px solid $color-green;
                    width: 15px;
                    height: 15px;
                    margin: 16px 10px;
                    transform: scale(1);
                    opacity: 1;

                    transition: background-color .5s ease 0s,
                        transform .5s ease 0s;
                    will-change: background-color, transform;

                    &.swiper-pagination-bullet-active {
                        background-color: $color-dark-green;
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
        }
    }

    .sb-next,
    .sb-prev {
        cursor: pointer;
        position: absolute;
        bottom: 50%;
        right: 0%;
        z-index: 20;

        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('icons/arrow-left.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;

        width: 50px;
        height: 50px;

        transition: opacity .5s ease 0s,
            transform .5s ease 0s;
        will-change: opacity, transform;

        margin: 0 5px;

        @media (max-width: $breakpoint-mobile-horizontal) {
            visibility: hidden;
        }
    }

    .sb-prev {
        background-image: url('icons/arrow-right.svg');
        left: 0%;
    }
}