[is='flynt-team-slider'] {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container {
        @media (max-width: $breakpoint-tablet-horizontal) {
            width: 100%;
        }

        .section-title {
            h3 {
                margin-bottom: 0px;

                @media (max-width: $breakpoint-tablet-horizontal) {
                    font-size: xx-large;
                }
            }

            .content {
                @media (max-width: $breakpoint-tablet) {
                    font-size: small;
                }
            }
        }

        .sb-next,
        .sb-prev {
            cursor: pointer;
            top: 50%;
            position: absolute;
            z-index: 20;
            background-repeat: no-repeat;

            width: 50px;
            height: 50px;

            transition: opacity .5s ease 0s,
                transform .5s ease 0s;
            will-change: opacity, transform;

            @media (max-width: $breakpoint-mobile-horizontal) {
                visibility: hidden;
            }
        }

        .sb-prev {
            background-image: url('icons/arrow-right.svg');
            left: 0;
        }

        .sb-next {
            background-image: url('icons/arrow-left.svg');
            right: 0;
        }
    }

    .swiper {
        height: auto;
        overflow: hidden;
        position: relative;

        .swiper-wrapper {
            .even, .odd{
                @media (min-width: $breakpoint-tablet-horizontal) {
                    margin-top: 40px;
                    transition: 2s;
                }
            }

            &:hover .even {
                @media (min-width: $breakpoint-tablet-horizontal) {
                    margin-top: 80px;
                }
            }

            &:hover .odd {
                @media (min-width: $breakpoint-tablet-horizontal) {
                    margin-top: 0px;
                }
            }
        }

        .swiper-slide {
            // display: flex;
            // flex-direction: row;
            // justify-content: space-between;
            width: auto;
            // flex-shrink: 0;
            // display: block;
            // max-height: 100%;

            background-color: $off-black;
            box-shadow: 0px 0px 15px $peach;
            height: 500px;

            @media (max-width: $breakpoint-tablet-horizontal) {
                height: 450px;
            }

            .author-wrap {
                width: 100%;
                height: 100%;
                padding: 35px 0px;
                display: flex;
                flex-direction: column;
                justify-content: start;

                .author-image {
                    height: 75%;

                    @media (max-width: $breakpoint-tablet-horizontal) {
                        height: 65%;
                    }

                    .image {
                        display: block;
                        border-bottom-left-radius: 80px 80px;
                        position: relative;
                        // min-height: 200px;
                        height: 100%;
                        top: 0px;
                        left: 0px;
                        z-index: 5;
                        transition: 1s;

                        img {
                            width: 100%;
                            height: 100%;
                            border-bottom-left-radius: 80px;
                            object-fit: cover;
                            object-position: top center;
                        }
                    }

                    &:hover .image {
                        @media (min-width: $breakpoint-tablet-horizontal) {
                            position: relative;
                            top: 0px;
                            left: -40px;
                        }
                    }
                }

                .icons {
                    position: absolute;
                    top: 40px;
                    right: 5px;
                    color: gold;
                    display: flex;
                    flex-direction: column;
                    font-size: 26px;

                    .fab {
                        padding: 5px 0;

                        @media (max-width: $breakpoint-tablet-horizontal) {
                            padding: 0px 5px 0px 0px;
                        }
                    }

                    @media (max-width: $breakpoint-tablet-horizontal) {
                        flex-direction: row;
                        top: 400px;
                        left: 10px;
                        z-index: 20;
                        bottom: 90%;
                        font-size: 20px;
                    }
                }


                .info {
                    display: block;
                    color: $citrus;
                    padding: 0px 10px;
                    padding-top: 20px;

                    .name {
                        font-weight: bold;
                        color: $citrus;
                        padding-right: 5px;
                        margin-bottom: 0;
                        font-size: large;
                    }

                    .job {
                        color: $citrus;
                    }
                }
            }


        }

        .swiper-navigation {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            height: auto;
            padding: 40px 20px;

            .s-pagination {
                display: inline-flex;
                flex-direction: row;
                justify-content: center;

                width: auto;
                height: auto;
                padding: 0 20px;

                .swiper-pagination-bullet {
                    background-color: $color-green;
                    border: 1px solid $color-green;
                    width: 15px;
                    height: 15px;
                    margin: 16px 10px;
                    transform: scale(1);
                    opacity: 1;

                    transition: background-color .5s ease 0s,
                        transform .5s ease 0s;
                    will-change: background-color, transform;

                    &.swiper-pagination-bullet-active {
                        background-color: $color-dark-green;
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
        }
    }
}